<h1><%= @album.name %> : Create New Track</h1>

<form class="" action="<%= tracks_url %>" method="post">
  <%= auth_token %>

  <label for="album">Album</label>
  <select id="album" name="track[album_id]">
    <% @all_albums.try(:each) do |album| %>
    <option value="<%= album.id%>" <%= 'selected' if @album.id == album.id %> ><%= album.name %></option>
    <% end %>
  </select>

  <br>

  Bonus Track?
  <input id="bonus_true" type="radio" name="track[bonus]" value="false" checked>
  <label for="bonus_true">No</label>
  <input id="bonus_false" type="radio" name="track[bonus]" value="true">
  <label for="bonus_false">Yes</label>

  <br>

  <label for="name">Track Name</label>
  <input id="name" type="text" name="track[name]" value="">

  <br>

  Lyrics
  <br>
  <textarea name="track[lyrics]" rows="8" cols="80"></textarea>

  <br>

  <input type="submit" name="" value="Add Track">

</form>
